.typingtext {
  font-size: 3.5rem;
  width: 10vh;
  /* font-weight: 1000; */
  color: rgba(240, 248, 255, 0);
  color: transparent; /* Make text transparent */
  -webkit-text-stroke: 1px #fefefe; /* Outline color and thickness */
  font-weight: normal; /* Regular weight for outlined text */
}
.finalText {
  color: #f9f8f8; /* Full color for the last fully typed-out word */
  opacity: 0; /* Optional transparency to distinguish the placeholder text */
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
}
.dynamicText {
    /* display: none; */
  color: #ffffff00; /* Color of the currently typing text */
  position: relative;
  white-space: nowrap;
  border-right: 3px solid rgb(255, 255, 255); /* Optional cursor effect */
  animation: blink 0.7s infinite;
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@media (max-width: 600px) {
  .typingtext {
    font-size: 2rem;
    -webkit-text-stroke: 1px #ffffff;
  }
  .typingtext{
    color: white;
  }
  .finalText{
    color: white;
  }
  .dynamicText {
    color: white;
  }
}
